<div class="main">
  <ngx-loop-scroll direction="right" [height]="250" [autoplay]="true">
    <div *ngFor="let item of items; let i = index;" 
        class="item" [style.backgroundColor]="getColor(item)">
            <div>{{i}}</div>
        </div>
  </ngx-loop-scroll>
  <ngx-loop-scroll direction="left" [height]="250" [autoplay]="true">
    <div *ngFor="let item of items; let i = index;" 
        class="item" [style.backgroundColor]="getColor(item)">
            <div>{{i}}</div>
        </div>
  </ngx-loop-scroll>
  <ngx-loop-scroll direction="right" [height]="250" [autoplay]="true">
    <div *ngFor="let item of items; let i = index;" 
        class="item" [style.backgroundColor]="getColor(item)">
            <div>{{i}}</div>
        </div>
  </ngx-loop-scroll>
  
  <ngx-loop-scroll direction="left" [height]="250" [autoplay]="true">
    <div *ngFor="let item of items; let i = index;" 
        class="item" [style.backgroundColor]="getColor(item)">
            <div>{{i}}</div>
        </div>
  </ngx-loop-scroll>

</div>