<div class="main">
  <app-infinite-carousel direction="right" [height]="250" [autoplay]="true">
    <div *ngFor="let item of items; let i = index;" 
        class="item" [style.backgroundColor]="getColor(item)">
            <div>{{i}}</div>
        </div>
  </app-infinite-carousel>
  <app-infinite-carousel direction="left" [height]="250">
    <div *ngFor="let item of items; let i = index;" 
        class="item" [style.backgroundColor]="getColor(item)">
            <div>{{i}}</div>
        </div>
  </app-infinite-carousel>
  <app-infinite-carousel direction="right" [height]="250">
    <div *ngFor="let item of items; let i = index;" 
        class="item" [style.backgroundColor]="getColor(item)">
            <div>{{i}}</div>
        </div>
  </app-infinite-carousel>
  <app-infinite-carousel direction="left" [height]="250" >
    <div *ngFor="let item of items; let i = index;" 
        class="item" [style.backgroundColor]="getColor(item)">
            <div>{{i}}</div>
        </div>
  </app-infinite-carousel>

</div>